* {
    margin: 0;
    padding:0;
}
iframe{
    width:100%;
    overflow-y:hidden;
}
.hnav{
    margin:0;
    background-color: yellow;   
    display:flex;
    justify-content: center;
}/* 
.lnav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(48, 48, 48);
}
.lvnav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
    height: 20vh;
    list-style:none;

} */







.banner {
    display: flex;
    background-image: url(/ProjetoSiteFinal/IMG/jet-engine-371412_1280.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    max-height: 90vh;
    max-width: 100%;
    
    margin: 0;
    padding:0;

    
}
.row{
    display: flex;
    max-width: 30%;
    align-items: flex-start;
}

.col{
    display:flex;
    justify-content: flex-end;
    padding: 50vh; 
}
.w-100 {
    border-radius: 5%;

}

.quadrado {
    display: flex;
    align-items:flex-start;
    padding: 1vh;   
    background: lightblue;
    width: 60vh;
    height: 65vh;
    border-radius: 05%;
}

.Meio {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
    padding: 10vh;
    padding-top: 2vh;
}
.MaisMeio{
    background: rgb(27, 26, 26);
    width: 100%;
    height: 90vh;
    
}