* {
    margin: 0;
    padding:0;
}
iframe{
    width:100%;
}
.hnav{
    margin:0;
    background-color: yellow;   
    display:flex;
    justify-content: center;
}
.lnav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
}
.lvnav{
    display:flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.lvnav img a{
    width:20vh;
    height: 20vh;


}






.banner {
    display: flex;
    background-image: url(/ProjetoSiteFinal/MOVIE/GifRobot.gif);
    background-position: left center ;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.row{
    display: flex;
    max-width: 30%;
    align-items: flex-start;
}

.col{
    display:flex;
    justify-content: flex-end;
    padding: 50vh; 
}
.w-100 {
    border-radius: 05%;

}

.quadrado {
    display: flex;
    align-items:flex-start;
    padding: 1vh;   
    background: lightblue;
    width: 60vh;
    height: 65vh;
    border-radius: 05%;
}

.Meio {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 90vh;
    padding: 10vh;
    padding-top: 2vh;
}
.MaisMeio{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
    
}