body{
    margin: 0;
    padding:0;
}

/* header */
.hnav{
    margin:0;
    background-color: yellow;   
    display:flex;
    justify-content: center;
}

/* NAVBAR */
iframe{
    width: 100%;
    height: 30vh;
}

.gnav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 15vh;
    width: 100%;

    background-color: #c6c6c6;

    overflow: hidden;

}
.gnav img {
    height: 14vh;
}

.linnav ul {
    display: flex;
    justify-content: space-around;

    text-decoration: none;
    width: 40%;
}

.linnav ul li {
    display: inline;
    color: rgb(32, 117, 141);
    list-style-type: none;

}

.linnav a {
    margin-left: 33%;
    text-decoration: none;
}

.inpnav {
    width: 43vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.inpnav #cadas {

    border: rgb(255, 255, 255);
    

    background: #03B2EA;
    border-radius: 13px;
    /* CADASTRE-SE */

    font-family: 'Jomolhari';
    font-style: normal;
    
    width: 20vh;
    font-size: 14px;
    line-height:33px;
    

    color: #FFFFFF;

}

.inpnav #log {
    border: rgb(255, 255, 255);
    
    background: #025C79;
    border-radius: 13px;

    font-family: 'Jomolhari';
    font-style: normal;
    
    width: 20vh;
    font-size: 14px;
    line-height:33px;

    color: #FFFFFF;
}

.banner {
    display: flex;
    background-image: url(/ProjetoSiteFinal/IMG/code-gdf92e228f_1280[1][1].jpg);
   background-position: left center ;
    background-repeat: no-repeat;
    
    max-width: 100%;

    
}
.row{
    display: flex;
    max-width: 30%;
    align-items: flex-start;
}

.col{
    display:flex;
    justify-content:flex-end;

 
}
.w-100 {
    border-radius: 5%;

}

.quadrado {
    display: flex;
    align-items:flex-start;
    padding: 1vh;   
    background: lightblue;
    width: 60vh;
    height: 65vh;
    border-radius: 05%;
}

.Meio {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
    padding: 10vh;
    padding-top: 2vh;
}
.MaisMeio{
    background: rgb(27, 26, 26);
    width: 100%;
    height: 90vh;
    
}











.footer{
    background-color: black;
    color: #c6c6c6;
}