body {
    margin: 0;
    padding: 0;
}

/* header */
/* .hnav{
    margin:0;
    background-color: yellow;   
    display:flex;
    justify-content: center;
} */

/* NAVBAR */
iframe {
    width: 100%;
    height: 30vh;

}

.gnav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 23vh;
    width: 100%;

    background-color: #c6c6c6;

    overflow: hidden;

}

.gnav img {
    height: 14vh;
}

.linnav ul {
    display: flex;
    justify-content: space-around;

    text-decoration: none;
    width: 40%;
}

.linnav ul li {
    display: inline;
    color: rgb(32, 117, 141);
    list-style-type: none;

}

.linnav a {
    margin-left: 33%;
    text-decoration: none;
}

.inpnav {
    width: 43vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.inpnav #cadas {

    border: rgb(255, 255, 255);


    background: #03B2EA;
    border-radius: 13px;
    /* CADASTRE-SE */

    font-family: 'Jomolhari';
    font-style: normal;

    width: 20vh;
    font-size: 14px;
    line-height: 33px;


    color: #FFFFFF;

}

.inpnav #log {
    border: rgb(255, 255, 255);

    background: #025C79;
    border-radius: 13px;

    font-family: 'Jomolhari';
    font-style: normal;

    width: 20vh;
    font-size: 14px;
    line-height: 33px;

    color: #FFFFFF;
}

/* BANNER */

.banner {
    display: flex;
    background-image: url(/LMRFinal-main/ProjetoSiteFinal/IMG/jet-engine-371412_1280.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 100%;
    height: 81vh;
}

/* CARROSEL */
.quadrado {

    flex-direction: column;
    display: flex;

    padding: 1vh;
    background: rgb(127, 152, 160);
    width: 80%;
    height: 65vh;
    border-radius: 5%;
    margin-right: 5vh;
}

.row {
    /* --bs-gutter-x: none; */
    /*     display: flex; */
    /* max-width: 70%; */
    /* align-items: center; */

}

.col {
    margin-left: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;

}

.w-100 {
    border-radius: 5%;
    height: 45vh;
}

.btnC {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Cinfo {

    border: rgb(255, 255, 255);
    background: #025C79;
    border-radius: 13px;

    font-family: 'Jomolhari';
    font-style: normal;

    font-size: 2vh;
    line-height: 3vh;

    color: #FFFFFF;
}


.blur {
    width: 100%;
    height: 50vh;

    filter: blur(2px);
    background-image: url(/ProjetoSiteFinal/IMG/laptop-5673901_1280.jpg);
    background-position: center center;
    background-size: auto;
}



.carousel-item-active {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.d-block {
    max-height: 30vh;
    max-width: 60vh;

    border-radius: 10%;
    /*     display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; */


}

.event {
    width: 100%;
    height: 85vh;
    background-color: #025C79;
    padding: 65px;
    padding-bottom: 25px;
    padding-top: 35px;
}

.bckevent {
    background-color: #03B2EA;
    width: 100%;
    height: 74vh;

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 8vh;
}

.imgevent img {
    height: 60vh;
    width: 60vh;
}

.textevent {
    text-align: justify;
    width: 50%;
    height: 70vh;
}

/* CADASTRO / CADASTRO2 */
.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 105vh;

    background: linear-gradient(270deg, #00D4FF 11.46%, #00D4FF 16.15%, #090979 53.65%, #020024 90.1%);
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* position: absolute; */
    width: 60vh;
    height: 65vh;

    background: linear-gradient(209.73deg, rgba(23, 67, 221, 0.46) 32.15%, rgba(113, 144, 254, 0.49) 69.39%);
    border-radius: 27px;

    padding: 1%;
    background-color: #025C79;
}

.cinput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 80%;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;

}


.cinput h1 {
    display: flex;
    justify-content: center;

    font-size: 59px;

    color: #FFFFFF;

}

.cinput p {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 10px;
    font-size: 20px;

    margin: 0;
    color: #FFFFFF;
}

.cinput input {

    height: 10vh;

    background: #B0A2CC;
    border-radius: 20px;
    margin-bottom: 3%;

    border-style: none;
    padding: 2vh;
    font-size: 3vh;
    font-weight: 500;
}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;

    width: 100%;
    border-radius: 10px;
}


.btn2 input {
    height: 7vh;
}

.btn2 h2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 0;
    margin: 0;

    color: #FFFFFF;
}


.btn2 a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 5px;
    margin: 0;

    color: #ffffff;
}

#Btn {

    height: 9vh;
    background-color: #07b8c5;
    font-size: 20px;
    color: #eeeeee;
}

#Btn a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* LOGIN */

.login {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 105vh;

    background: linear-gradient(270deg, #00D4FF 11.46%, #00D4FF 16.15%, #090979 53.65%, #020024 90.1%);
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* position: absolute; */
    width: 70vh;
    height: 80vh;

    background: linear-gradient(209.73deg, rgba(23, 67, 221, 0.46) 32.15%, rgba(113, 144, 254, 0.49) 69.39%);
    border-radius: 27px;

    padding: 1%;
    background-color: #025C79;
}


.linput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 80%;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;

}


.linput h1 {
    display: flex;
    justify-content: center;

    font-size: 59px;

    color: #FFFFFF;

}

.linput p {
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 10px;
    font-size: 20px;

    margin: 0;
    color: #FFFFFF;
}

.linput input {

    height: 10vh;

    background: #B0A2CC;
    border-radius: 20px;
    margin-bottom: 3%;

    border-style: none;
    padding: 2vh;
    font-size: 3vh;
    font-weight: 500;
}

/* COMPRA */

.conteudo {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 2%, rgba(9, 9, 121, 1) 26%, rgba(0, 212, 255, 1) 77%);
    color: #FFFFFF
}

.Ccom {
    padding-top: 70px;

    width: 100%;
    height: 90vh;

    display: flex;

    justify-content: space-around;

    align-items: center;
}

.Cimg img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;

    width: 100%;
    height: 80vh;
    margin: 0;
}

.CEsc {
    justify-content: space-around;

}

.CEsc h2 {
    display: flex;
    align-items: center;
    font-size: 4vh;
    text-decoration: line-through;

    color: gray;

}

.CEsc h1 {
    font-size: 9vh;
    text-transform: uppercase;
}

.Cstars {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.Cstars img {
    margin-left: 1vh;
    width: 5vh;
    height: 5vh;
}

.Cstars h3 {
    margin-left: 1vh;
    font-size: 3vh;
}

#CPrice {
    font-size: 7vh;
}

.Cinputs {
    height: 50vh;
    font-size: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.n°iNGR {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cbtn {
    align-items: end;
    justify-content: space-around;
}

#n°iNGR {
    width: 20%;
    height: 4vh;

    border-radius: 70px;
    border: none;
    font-size: 3vh;

    text-align: center;
    align-items: center;
}

#Cbtn {
    border: none;
    width: 100%;
    height: 8vh;
    font-size: 3vh;
    border-radius: 70px;
    align-items: center;
    background-color: yellow;
}

.meioesd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Cmeio {
    width: 90%;
    height: 110vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #FFFFFF;
}

.CMtit {
    width: 90%;
    height: 80vh;
    align-items: center;
}


.CMtit h1 {
    font-size: 7vh;
    text-transform: uppercase;
    text-align: center;
    align-items: center;

}

.CMtit h3 {
    font-size: 3vh;
    column-count: 2;
    text-align: center;
    align-items: center;

}

.CFimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CFimg img {
    width: 25%;
    height: 50vh;
}

.CFtit {
    font-size: 3vh;
    text-transform: uppercase;
    text-align: center;
    align-items: center;

}

/* MAIS INFORMAÇÕES */
.conteudo {

    height: auto;
}

.MBmeio {
    text-transform: uppercase;
    padding: 4vh;
    font-size: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.MBcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.MBcardfundo {
    margin: 2%;
    width: 40%;
    height: 45vh;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1vh;

    background-color: rgba(199, 199, 199, 0.839);
    border-radius: 35px;
}

.MBcardimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MBcardimg img {
    width: 55%;
    height: 40vh;
    border-radius: 30px;
}

.MBcardtit {
    width: 40%;

    text-align: center;

    align-items: stretch;
    justify-content: space-around;
}

.MBcardtit h1 {
    font-size: 5vh;
    text-align: center;
}

.MBcardtit h2 {
    font-size: 2vh;
}

.MBcardbtn input {
    border: none;
    width: 100%;
    height: 7vh;
    font-size: 3vh;
    border-radius: 60px;
    align-items: center;
    background-color: yellow;

}

.footer {
    background-color: black;
    color: #c6c6c6;
}